.btn-primary {
  background-color: $orange !important;
  border-color: $orange !important;
  &:hover, &:active, &:focus {
    background-color: $dark-orange !important;
    border-color: $dark-orange !important;
  } 
}

.btn-secondary {
  background-color: $light-gray !important;
  border-color: $light-gray !important;
  &:hover, &:active, &:focus {
    background-color: $dark-light-gray !important;
    border-color: $dark-light-gray !important;
  } 
}

.btn-outline-secondary {
  color: $light-gray !important;
  border-color: $light-gray !important;
  &:hover, &:active, &:focus {
    color: $white !important;
    border-color: $dark-light-gray !important;
  } 
}