@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../fonts/OpenSans-Light.ttf') format('ttf'),
      url('../fonts/OpenSans-Regular.ttf') format('ttf'),
      url('../fonts/OpenSans-Bold.ttf') format('ttf'),
      url('../fonts/OpenSans-Italic.ttf') format('ttf');
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $body-background-color;
  color: $body-color;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 80px;
  moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

// Navbar
.navbar {
  background-color: #ff570c;

  .avatar {
    border-radius: 20px; 
  }
  .img-thumbnail {
    padding: 0;
    border: 1px solid $white;
  }
  .nav-item, .nav-link {
    color: $white;
  }
  .toggle-bar {
    border-right: 1px solid $dark-orange;
    border-left: 1px solid $dark-orange;
  }
  .navbar-brand {
    margin-left: -15px;
  }
  .dropdown-item {
    color: $body-color;
  }
  .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover {
    color: $body-color;
    background-color: $xx-light-gray;
  }
}

// Container
#app > div > div {
  margin-top: 56px;
}

// Sidebar 
.sidebar {
  position: fixed;
  height: 100%;
  background: $x-dark-gray;
  border: none;
  z-index: 1;
  @include transition(all .4s ease 0s);
  .nav-item {    
    border-bottom: 1px solid $gray;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0; 
  }
  .nav-item a {    
    color: $white;
    @include transition(background .5s);
  }
  .nav-item:first-child {
    border-top: 1px solid $gray;
  }
  .active.item, .active.item:hover, .active.item:focus {
    background: $xx-dark-gray;
    color: $orange;
  }
  .nav-link:hover, .nav-link:active, .nav-link:focus {
    background: $xx-dark-gray;
    transition: 0.2s all ease-in-out;
    outline: none;
    color: $orange;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: $orange;
    background-color: $xx-dark-gray;
  }
  .nav-pills .nav-link {
    border-radius: 0.25rem;
  }
  .logo {
    padding: 15px;
  }
  .logo .img-thumbnail {
    background-color: $white;
  }
  .logo a {
    color: $white;
  }
} 

// Toggle styles
.sidebar.col-sm-2.col-md-1 {
  span, .customer-name {
    display: none !important;
  }
  .nav-link {
    text-align: center;
  }
  .fa {
    font-size: 1.5em;
  }
}

#main, #footer {
  @include transition(all .4s ease 0s);
}

// Footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: $xx-dark-gray;
  color: $light-gray;
  padding: 10px;
}

// Breadrump
.breadcrumb {
  background-color: transparent;
  a {
    color: $orange;
    &:hover, &:active, &focus {
      color: $light-orange;    
    }
  }
}

// Dropdown menu
.dropdown-menu {
  font-size: 1em;
}    

// Flash messages
.alert {
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
  padding-top: .9rem;
  padding-bottom: .9rem;
  position: relative;
}

.alert.alert-success {
  background-color: rgba(99, 209, 140, 0.8);
}

.alert-info {
  background-color: rgba(12, 180, 255, 0.8);
}

.alert.alert-warning {
  background-color: rgba(255, 209, 12, 0.8);
  color: #606470;
}

.alert.alert-danger {
  background-color: rgba(231, 75, 60, 0.8);
}

// Spinner
.fa.fa-spinner {
  position: absolute;
  font-size: 3em;
  top: 10px
} 

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.spinner {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}