.structure  > .table-responsive > table {
  border-collapse: separate;
  border-spacing: 5px;
}

.structure  > .table-responsive > .table th, .structure  > .table-responsive > .table td {
  vertical-align: middle;
}

.structure > .table-responsive > table > tbody >  tr.children > td > table > tbody > tr:hover:first-child {
  background-color: $x-light-gray;
}

.structure > .table-responsive > table > tbody >  tr.children > td > table > tbody > tr > td > table > tbody > tr.children > td > table > tbody > tr:hover:first-child {
  background-color: $x-light-gray;
}

.table-responsive table table {
  position: relative;
}

.structure  > .table-responsive > table > thead > tr > th, .structure  > .table-responsive > table > tbody > tr > td {
  border: none;
}

.table-responsive > table > tbody > tr {
  > td:first-child {
    width: 2%;
    border: 1px solid $light-gray;
    border-radius: 5px;
  }
  > td > table > tbody > tr:last-child > td > table {
   border-collapse: separate;
  }
  > td > table > tbody > tr > td {
   border: none;
   padding-left: 10px !important;
  }
  > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:last-child > td {
    padding-left: 10px !important;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td {
    border: 1px solid $light-gray;
    border-radius: 5px;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr > td {
   border: none;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr:last-child > td > table {
    border-collapse: separate;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr:last-child > td > table > tbody > tr > td {
    border: 1px solid $light-gray;
    border-radius: 5px;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr:last-child > td > table > tbody > tr > td >  table > tbody > tr > td {
    border: none;
  }
}

.table-responsive table thead tr th:first-child + th, .table-responsive table tbody tr td:first-child + td {
  width: 39%;
}

.table-responsive table thead tr th:first-child + th + th, .table-responsive table tbody tr td:first-child + td + td {
  width: 20%;
}

.table-responsive table thead tr th:first-child + th + th + th, .table-responsive table tbody tr td:first-child + td + td + td {
  width: 15%;
}

.first-level-tr.show {
  background-color: $xx-light-gray;
}

.first-level-tr.collapse {
  display: table-row;
}

.table-responsive .show-page-preview {
  cursor: pointer;
}

.structure td a.show-page-preview {
  color: $orange;
  &:hover, &:active, &:focus {
    color: $light-orange !important;
  }
}

