.structure  > .table-responsive > table {
  border-collapse: separate;
  border-spacing: 5px;
}

.structure  > .table-responsive > .table th, .structure  > .table-responsive > .table td {
  vertical-align: middle;
}

.structure  > .table-responsive > table > tbody >  tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td:first-child {
  padding-left: 20px;
} 

.structure  > .table-responsive > table > tbody >  tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td:first-child {
  padding-left: 40px;
}

.structure > .table-responsive > table > tbody >  tr.children > td > table > tbody > tr:hover:first-child {
  background-color: rgba(0, 0, 0, 0.075);
}

.structure > .table-responsive > table > tbody >  tr.children > td > table > tbody > tr > td > table > tbody > tr.children > td > table > tbody > tr:hover:first-child {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-responsive table table {
  position: relative;
}

.structure  > .table-responsive > table > thead > tr > th, .structure  > .table-responsive > table > tbody > tr > td {
  border: none;
}

.table-responsive > table > tbody > tr {
  > td:first-child {
    width: 2%;
    border: 1px solid $light-gray;
    border-radius: 5px;
  }
  > td > table > tbody > tr:last-child > td > table {
   border-collapse: separate;
  }
  > td > table > tbody > tr > td {
   border: none;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td {
    border: 1px solid $light-gray;
    border-radius: 5px;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr > td {
   border: none;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr:last-child > td > table {
    border-collapse: separate;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr:last-child > td > table > tbody > tr > td {
    border: 1px solid $light-gray;
    border-radius: 5px;
  }
  > td > table > tbody > tr:last-child > td > table > tbody > tr > td > table > tbody > tr:last-child > td > table > tbody > tr > td >  table > tbody > tr > td {
    border: none;
  }
}

.table-responsive table thead tr th:first-child + th, .table-responsive table tbody tr td:first-child + td {
  width: 32%;
}

.table-responsive table thead tr th:first-child + th + th, .table-responsive table tbody tr td:first-child + td + td {
  width: 23%;
}

.table-responsive table thead tr th:first-child + th + th + th, .table-responsive table tbody tr td:first-child + td + td + td {
  width: 15%;
}

.children.show {
  background-color: $x-light-gray;
}

.children.collapse {
  display: table-row;
}

