.table th, .table td {
  vertical-align: middle;
}

.structure  > .table-responsive > table > tbody >  tr > td > table > tbody > tr > td > table > tbody > tr > td:first-child {
  padding-left: 40px;
}

.structure  > .table-responsive > table > tbody >  tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td:first-child {
  padding-left: 80px;
} 

.structure > .table-responsive > table > tbody >  tr.children > td > table > tbody > tr:hover:first-child {
  background-color: rgba(0, 0, 0, 0.075);
}

.structure > .table-responsive > table > tbody >  tr.children > td > table > tbody > tr > td > table > tbody > tr.children > td > table > tbody > tr:hover:first-child {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-responsive table table {
  position: relative;
}

.table-responsive table thead tr th:first-child, .table-responsive table tbody tr td:first-child {
  width: 2%;
}

.table-responsive table thead tr th:first-child + th, .table-responsive table tbody tr td:first-child + td {
  width: 30%;
}

.table-responsive table thead tr th:first-child + th + th, .table-responsive table tbody tr td:first-child + td + td {
  width: 25%;
}

.table-responsive table thead tr th:first-child + th + th + th, .table-responsive table tbody tr td:first-child + td + td + td {
  width: 15%;
}

