.nav-tabs .nav-item {
  a {
    color: $body-color;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border: 2px solid $orange;
  border-color: #ffffff #ffffff $orange !important; 
  border-left: none; 
  border-right: none; 
  border-top: none; 
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: $white !important;
  background-color: $orange !important;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}