.nav-tabs .nav-item {
  a {
    color: $body-color;
    @extend .text-uppercase;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border: 2px solid $orange;
  border-color: #ffffff #ffffff $orange !important; 
  border-left: none; 
  border-right: none; 
  border-top: none; 
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: none;
}