//Color
$black: #000000;
$white: #ffffff;

$body-background-color: $white;
$body-color: #323643;

// Main color
$x-light-orange: #f19546;
$light-orange: #FF7B3F;
$orange: #ff570c;
$dark-orange: #CB3F00;
$x-dark-orange: #f5b47b;

// Secondary colors
$white-turquoise: #cce7ea;
$x-light-turquoise: #66b4bb;
$light-turquoise: #25959f;
$turquoise: #038b98;
$dark-turquoise: #165b61;

$x-light-green: #94A80D;
$light-green: #88A60D;
$green: #63d18c;
$dark-green: #619E0D;
$x-dark-green: #445B00;

$x-light-red: #BE3B0A;
$light-red: #BE220A;
$red: #be0a0a;
$dark-red: #B50921;
$x-dark-red: #AF0B34;

$x-light-yellow: #FAD10A;
$light-yellow: #FAD10A;
$yellow: #faca0a;
$dark-yellow: #FAC30A;
$x-dark-red: #FAC30A;

$x-light-blue: #d1ebf6;
$light-blue: #16AAD4;
$blue: #0cb4ff;
$dark-blue: #1C89D6;
$x-dark-blue: #04628B;

$xx-light-gray: #f5f5f5;
$x-light-gray: #f0f0f0;
$light-light-gray: #c0c0c0;
$light-gray: #979797;
$dark-light-gray: #606470;

$dark-gray: #414143;
$dark-dark-gray: #282a2b;
$x-dark-dark-gray: #231f20;
$xx-dark-dark-gray: #19191A;


